{# {{ form_start(form) }}
<input name="campaign_id" type="hidden" value="">
<h5 class="center">Votre identité</h5>
<div class="input-field col s12 l6">
        {{ form_widget(form.participant.email, {'attr': {'class': 'participant validate'}}) }}
        {{ form_label(form.participant.email,'Votre Email') }}
</div>
<div class="input-field col s12 l6">
        {{ form_widget(form.participant.name, {'attr': {'class': 'participant validate'}}) }}
        {{ form_label(form.participant.name,'Votre Nom') }}
</div>
<div class="input-field col s12 l6">
        {{ form_widget(form.amount, {'attr': {'class': 'validate'}}) }}
        {{ form_label(form.amount,'Votre participation') }}
</div>
<div class="input-field col s12 l6">
    <a class="btn btn-large waves-effect waves-light grey col s12" href="#!">Annuler</a>
</div>
<div class="input-field col s12 l6">
    <button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" type="submit">
        {{ button_label|default('Participer') }}
        <i class="material-icons right">euro_symbol</i>
    </button>
</div>
{{ form_end(form) }} #}


{{ form_start(form) }}
<input name="campaign_id" type="hidden" value="">
<h5 class="center">Votre identité</h5>
<div class="input-field col s12 l6">
    {{ form_widget(form.participant.name, {'attr': {'class': 'participant validate'}}) }}
    {{ form_label(form.participant.name,'Votre Nom') }}
</div>
<div class="input-field col s12 l6">
    {{ form_widget(form.amount, {'attr': {'class': 'validate'}}) }}
    {{ form_label(form.amount,'Votre participation') }}
</div>
<div class="input-field col s12 l6">
    {{ form_widget(form.participant.email, {'attr': {'class': 'participant validate'}}) }}
    {{ form_label(form.participant.email,'Votre Email') }}
</div>
<div class="input-field col s12 l6">
    <p>
        <label>
            <input type="checkbox" name='payment[hiddenIdentity]' value= '1' />
            <span>Masquer mon identité auprès des autres participants</span>
        </label>
    </p>
    <p>
        <label>
            <input type="checkbox" name='payment[hiddenAmount]' value= '1' />
            <span>Masquer le montant de ma participation auprès des autres participants</span>
        </label>
    </p>
</div>
{# <div class="clearfix"></div>
<h5 class="center">Paiement</h5>
<div class="input-field col s12">
    <input id="card_name" type="text" class="validate">
    <label for="card_name">Nom sur la carte</label>
</div>
<div class="input-field col s12">
    <input id="card_number" type="text" class="validate">
    <label for="card_number">Numéro de la carte</label>
</div>
<div class="input-field col s12 l8">
    <input id="card_expiration_date" type="date" class="validate">
    <label for="card_expiration_date">Date d'expiration</label>
</div>
<div class="input-field col s12 l4">
    <input id="card_cvv" type="text" class="validate">
    <label for="card_cvv">CVV</label>
</div> #}
<div class="input-field col s12 l6">
    <a href="#!" class="btn btn-large waves-effect waves-light grey col s12">Annuler</a>
</div>
<div class="input-field col s12 l6">
    <button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" type="submit" name="action">
        {{ button_label|default('Participer') }}
        <i class="material-icons right">euro_symbol</i>
    </button>
</div>
{% do form.hiddenIdentity.setRendered %}
{% do form.hiddenAmount.setRendered %}
{{ form_end(form) }}